<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>钱宝宝转出</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageBmOut" class="page in" data-onpagefirstinto="bmOutInto"></section>
<section id="pageBmOutResult" class="page out" data-callback="bmOutResultInto"></section>
<section id="pageLoading"></section>
<script src="../../../script/master/sea.js" id="seajsnode"></script>
<script>
    seajs.use('page/bmOut');
</script>
</body>
</html>