<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>钱庄网债权转让服务协议</title>
    <style>
        h1{text-align: center}
        p{font-size: 16px;margin:20px 0;text-indent: 32px;}
    </style>
</head>
<body>
<h1>钱庄网债权转让服务协议</h1>
<p>本债权转让服务为钱庄网为解决用户投资流动性需求而设立，在您使用本服务前请仔细阅读以下条款。若您点击页面上的“转让” 按钮，则表示您同意接受本网站的债权转让服务并受以下条款的约束。若您不接受以下条款，请您主动停止本次服务。</p>
<h2>一、	服务声明</h2>
<p>1.	本网站有权根据需要不时的修改本协议或根据本协议制定、修改各类具体规则并在本网站相关系统板块发布，无需另行单独通知您。您应不时地注意本协议及具体规则的变更，若您在本协议及具体规则内容公告变更后继续使用本服务，表示您已充分阅读、理解并接受修改后的协议和具体规则内容，也将遵循修改后的协议和具体规则使用本网站的服务；同时就您在协议和具体规则修订前通过本网站进行的交易及效力，视为您已同意并按照本协议及有关规则进行了相应的授权和追认。若您不同意修改后的协议内容，您应停止使用本服务。</p>
<p>2.	您通过自行或授权有关方根据本协议及本网站有关规则、说明操作确认本协议后，本协议即在您和本网站之间产生法律效力。</p>
<h2>二、	债权转让的定义</h2>
<p>债权转让是指在钱庄网平台注册并成功出借资金给借款人的出借人，将其对借款人享有的债权进行转让，其他用户同意受让该部分债权，享有未来对借款人主张债权的权利。</p>
<h2>三、	债权转让的范围</h2>
<p>1．	主债权所对应的借款本金、利息、罚息、违约金、损害赔偿金（如有）、滞纳金、实现债权的费用以及因债权而产生的其他费用；</p>
<p>2．	主债权所对应的担保权利，即向担保人主张代偿债权的权利；</p>
<p>3．	主债权所对应的债权收购权利（如有），即向债权收购方主张收购债权的权利。</p>
<h2>四、	债权转让的前提条件</h2>
<p>钱庄网用户使用本债权转让服务必须同时符合以下5款规定，否则用户不可使用本债权转让服务。</p>
<p>1.	转让项目持有超过15天；</p>
<p>2.	转让项目距离回款时间超15天；</p>
<p>3.	投资中的所有债权本金大于等于15万元；</p>
<p>4.	单笔转让金额大于等于5万元；</p>
<p>5.	当前该项目没有待审核或转让中的申请。</p>
<h2>五、	债权转让的规则</h2>
<p>您作为债权转让人在钱庄网平台上申请发标须按照钱庄网平台的系统运行规则进行操作：</p>
<p>1.	原借款标：指拟转让的借款债权在钱庄网平台上已存在借款项目号及相关信息。</p>
<p>2.	原债权金额：指借款债权转让前的本金余额。</p>
<p>3.	原标年化利率：指借款债权原约定的年化利率。</p>
<p>4.	到期日期：指借款债权原约定的最后一个还款日期。</p>
<p>5.	剩余期限：指原借款天数减去出让人已受让债权的天数。</p>
<p>6.	转让总金额：指出让人欲转让的借款债权总金额。</p>
<p>7.	认购金额：指债权受让人购买转让债权所付出的金额 。</p>
<p>8.	转让年化利率：债权转让人转让债权时设置的年化利率（设置范围：7%~15%）。</p>
<p>9.	收益取得：债权转让人成功转让债权前的利息收益以及转让后的息差收益、债权受让人受让债权后的利息收益均须按原始债权约定还款付息时间收取。</p>
<p>10.	额外贴息：当债权转让人转让债权时设置的转让利率高于原标年化利率时，额外产生的利息由转让人自行承担，并且钱庄网有权于债权转让成功时将转让人账户上对应金额予以冻结至债权到期日支付至债权受让人账户。</p>
<p>11.	转让发起日：指出让人通过钱庄网平台发布债权转让标之日。</p>
<p>12.	转让交割日：指受让人在钱庄网平台以网络在线点击确认的方式签署《债权转让协议》，并通过第三方支付平台完成向出让人支付转让价款的两个条件均满足之日。</p>
<p>13.	募资期限：债权转让人通过钱庄网发布债权转让标的募资期限为7个自然日，自转让发起日起算。募资期限届满，转让标未全部转让成功的，未成功转让的债权仍由转让人持有。</p>
<p>14.	债权转让次数：钱庄网平台债权转让次数不限，但每笔债权进行转让时必须符合本协议第四条规定。</p>
<p>15.	《债权转让协议 》：指债权转让人与债权受让人之间通过钱庄网平台达成债权转让合意时以点击确认方式签署的协议。债权转让人点击页面上的“转让”按钮时，即同时视为同意并认可后续生成的《债权转让协议》的相关内容，并受协议约束。</p>
<p>16.	债权转让对该笔借款债权本身的影响。在借款债权的转让交割日后，仅债权人发生变更，对原始借款债权本金余额、应付利息、还款方式、逾期还款、提前还款等相关事项均不造成影响。</p>
<h2>六、	债权转让的相关费用</h2>
<p>1.	债权转让服务费</p>
<p>钱庄网提供债权转让服务，您作为债权出让人须按达成交易的转让价格的0.3%支付债权转让服务费。该费用于债权受让人向债权出让人支付债权转让价款时由钱庄网直接从受让人支付的转让价款中扣收。钱庄网不再向债权受让人收取债权转让服务费。</p>
<p>2.	应纳税费</p>
<p>您应独立、自行承担因订立和履行债权转让相关协议而产生的相关税费。</p>
<p>3.	其他费用</p>
<p>因第三方为债权转让提供服务收取相关费用的，按照相关规定执行。</p>
<h2>七、	债权转让的限制</h2>
<p>禁止将原约定权利不能转让的以及依照法律规定不得转让的债权向钱庄网平台申请债权转让，否则钱庄网有权拒绝提供服务。</p>
<h2>八、	债权转让风险提示</h2>
<p>线上债权转让服务仅为债权转让方和受让方提供居间服务，并不承诺为每一个债权出让人成功完成全部转让。因此，在转让申请的预期时效内，转让人存在债权无法成功转让的风险。</p>
<h2>九、	权利和义务</h2>
<p>1.	您享有通过钱庄网平台自由选择债权出让的权利；</p>
<p>2.	您有权按照约定时间和方式收取债权转让金额；</p>
<p>3.	您有义务按照平台要求向钱庄网平台提供真实的个人信息，因您提供虚假信息而造成的一切法律后果（包括但不限于民事赔偿，行政处罚等）均由您自行承担；</p>
<p>4.	您有义务按照钱庄网的要求操作平台软件以及查收钱庄网发出的所有消息（包括但不限于电子邮件、手机短信、平台消息等）；</p>
<p>5.	因您个人操作不当以及疏于查收信息造成的损失由您自行承担；</p>
<p>6.	您成功转让债权的须按约支付服务费用。</p>
<h2>十、	违约责任</h2>
<p>任何一方违反本协议的约定，使得本协议的全部或部分不能履行，均应承担相应的违约责任，并赔偿对方因此遭受的损失（包括但不限于由此产生的诉讼费和律师费等）；如多方违约，根据实际情况各自承担相应的违约责任。违约方应赔偿因其违约而给守约方造成的损失，包括协议履行后可以获得的收益，但不得超过违反协议一方订立合同时可以预见的因违反协议可能造成的损失。</p>
<h2>十一、	争议的解决</h2>
<p>在本协议履行过程中，如发生任何争执或纠纷，应由双方协商；若双方协商不成的，双方约定可向杭州市西湖区人民法院提起诉讼。</p>
<h2>十二、	其他</h2>
<p>钱庄网对本协议拥有最终的解释权。本协议及本网站有关页面的相关名词可互相引用参照，如有不同理解，则以本协议条款为准。此外，若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。</p>
<p>声明：本人已经认真阅读《钱庄网债权转让服务协议》，并充分理解其法律涵义。</p>
</body>
</html>