<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>下载</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageDownload2" class="page">
    <article class="viewport">
        <a class="download-bg" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.qz.qian&ckey=CK1304356609522" data-ajax="false">
            <img src="../../../image/master/download/dl-bg.jpg" alt=""/>
        </a>
    </article>
</section>
</body>
</html>