<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>下载</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageDownload" class="page">
    <article class="viewport">
        <div class="logo"><img src="../../../image/master/download/logo-title.png" alt="钱庄理财"/></div>
        <a class="download-btn" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.qz.qian&ckey=CK1304356609522" data-ajax="false">
            <span>立即下载APP</span><img src="../../../image/master/download/download-btn.png" alt=""/>
        </a>
        <div class="img-phone">
            <img src="../../../image/master/download/img-phone.png" alt=""/>
        </div>
    </article>
</section>
</body>
</html>