<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>修改交易密码</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageEditTransPassword" class="page" data-onpagefirstinto="editTransPasswordBuyInit"
         data-callback="editTransPasswordBuyInto" data-fallback="editTransPasswordBuyOut">
    <article class="viewport ui-form">
        <div class="main">
          <div class="cont">
            <div class="row">
              <input id="oldPwd" class="ui-input-text" type="password" placeholder="请输入当前交易密码" data-activate-check="true" />
            </div>
            <div class="row">
              <input id="newPwd" class="ui-input-text" type="password" placeholder="请输入8-20位新交易密码" data-activate-check="true" />
            </div>
            <div class="row">
              <input id="confirmPwd" class="ui-input-text" type="password" placeholder="请再次输入新的交易密码" data-activate-check="true" />
            </div>   
          </div>
          <div class="operate">
              <a id="submitBtn" class="btn ui-btn red disabled js-submit" href="javascript:;" data-activate-submit="true">确认</a>
          </div>
        </div>
    </article>
</section>
<section id="pageLoading"></section>
<script src="../../../script/master/sea.js" id="seajsnode"></script>
<script>
    seajs.use('page/editTransPasswordBuy');
</script>
</body>
</html>