<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>找回登录密码</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageLoginTransPassword" class="page" data-onpagefirstinto="loginTransPasswordInit"
         data-callback="loginTransPasswordInto" data-fallback="loginTransPasswordOut">
    <article class="viewport ui-form">
        <div class="main">
            <div class="cont phone">
                <input id="userPhone" class="ui-input-text" type="text" maxlength="11" pattern="[0-9]*" placeholder="请输入注册手机号"
                       data-activate-check="true"/>
            </div>
            <div class="cont">
                <div class="row verify">
                    <input id="verifyCode" type="text" class="ui-input-text" placeholder="请输入验证码"
                           data-activate-check="true">
                    <input id="verifyCodeBtn" class="getSecurity ui-btn red btn" type="button" value="获取验证码">
                </div>
            </div>
            <div class="cont">
                <input id="password" class="ui-input-text" type="password" placeholder="请设置8-20个字符密码，区分大小写"
                       data-activate-check="true"/>
            </div>
            <div class="operate">
                <a id="submitBtn" class="btn ui-btn red disabled js-submit" href="javascript:;" data-activate-submit="true">确认</a>
            </div>
        </div>
    </article>
</section>
<section id="pageLoading"></section>
<script src="../../../script/master/sea.js" id="seajsnode"></script>
<script>
    seajs.use('page/forgetLoginPassword');
</script>
</body>
</html>