<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>红包使用说明</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageGlossary" class="page">
    <article class="viewport">
        <ul>
            <li>
                <h2 class="title">总资产</h2>
                <p class="cont">总资产=在投本金+待收收益+可用余额+提现中金额。</p>
            </li>
            <li>
                <h2 class="title">在投本金</h2>
                <p class="cont">用户当前在投待回款项目(包括转让中项目)的投资本金总和。</p>
            </li>
            <li>
                <h2 class="title">待收收益</h2>
                <p class="cont">待收收益=所有投资待回款收益。具体请查看“我的投资-待还款”(按月付息/等额本息项目详见回款计划)。</p>
            </li>
            <li>
                <h2 class="title">可用余额</h2>
                <p class="cont">账户内投资人可自由支配的金额(也可理解为当前可提现的金额)。</p>
            </li>
            <li>
                <h2 class="title">提现中金额</h2>
                <p class="cont">用户在发起提现之后第三方平台审核期间，被冻结无法进行操作的资金。</p>
            </li>

            <li>
                <h2 class="title">累计收益</h2>
                <p class="cont">累计收益=所有投资已回款收益(包括加息收益)+加息券收益+提前还款奖励收益。</p>
            </li>
        </ul>
    </article>
</section>
</body>
</html>