<!doctype html>
<html id="docHelpCenter">
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>帮助中心</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageHelpCenter" class="">
    <article class="">
        <div class="banner"><img src="../../../image/master/helpCenter/banner.jpg" alt="帮助中心"></div>
        <div class="nav-wrap">
            <div class="nav-item">
                <a href="/helpCenterDetails.html#account" title="账户信息">
                    <img src="../../../image/master/helpCenter/icon1.png" alt="账户信息">
                    <div class="nav-text">账户信息</div>
                </a>
            </div>
            <div class="nav-item">
                <a href="/helpCenterDetails.html#cash" title="充值提现">
                    <img src="../../../image/master/helpCenter/icon2.png" alt="充值提现">
                    <div class="nav-text">充值提现</div>
                </a>
            </div>
            <div class="nav-item">
                <a href="/helpCenterDetails.html#invest" title="投资">
                    <img src="../../../image/master/helpCenter/icon3.png" alt="投资">
                    <div class="nav-text">投资</div>
                </a>
            </div>
            <div class="nav-item">
                <a href="/helpCenterDetails.html#returnedMoney" title=回款与收益">
                    <img src="../../../image/master/helpCenter/icon4.png" alt="回款与收益">
                    <div class="nav-text">回款与收益</div>
                </a>
            </div>
            <div class="nav-item">
                <a href="/helpCenterDetails.html#noun" title="名词解释">
                    <img src="../../../image/master/helpCenter/icon5.png" alt="名词解释">
                    <div class="nav-text">名词解释</div>
                </a>
            </div>
            <div class="nav-item">
                <a href="/helpCenterDetails.html#mall" title="积分商城">
                    <img src="../../../image/master/helpCenter/icon6.png" alt="积分商城">
                    <div class="nav-text">积分商城</div>
                </a>
            </div>
            <div class="nav-item">
                <a href="/helpCenterDetails.html#transfer" title="债权转让">
                    <img src="../../../image/master/helpCenter/icon7.png" alt="债权转让">
                    <div class="nav-text">债权转让</div>
                </a>
            </div>
            <div class="nav-item">
                <a href="/helpCenterDetails.html#grab" title="一元夺宝">
                    <img src="../../../image/master/helpCenter/icon8.png" alt="一元夺宝">
                    <div class="nav-text">一元夺宝</div>
                </a>
            </div>
        </div>
        <div class="list-wrap">
            <div class="list-tit">热门问题</div>
            <ul class="main">
                <li>
                    <p class="tit"><i class="icon-arrow-bottom iconfont"></i>没有提现过总资产金额怎么少了？</p>
                    <div class="cont">
                        <p>总资产=在投本金+待收收益+可用余额+提现中的金额，您的在投项目中有项目提前还款了会使得待收收益有所减少，进而使得总资产减少。可以去“我的投资-已还款”查看最近是否有提前还款。</p>
                    </div>
                </li>
                <li>
                    <p class="tit"><i class="icon-arrow-bottom iconfont"></i>提现需要手续费吗？</p>
                    <div class="cont">
                        <p>您充值后已投资过的金额不收取提现手续费，充值后没有投资过的金额提现时平台将收取0.25%的转账手续费。手续费=(提现金额-可免费提现额度)*0.25%，最低1元，包含小数点则四舍五入。可免费提现额度=当前账户余额中投资已回款的金额(包括已转让完成回款的)+验证银行卡扣款金额。</p>
                    </div>
                </li>
                <li>
                    <p class="tit"><i class="icon-arrow-bottom iconfont"></i>注册时收不到短信怎么办？</p>
                    <div class="cont">
                        <p>1.请确认手机是否安装短信拦截或过滤软件；</p>
                        <p>2.请确认手机是否能够正常接收短信(信号问题、欠费、停机等)；</p>
                        <p>3.短信收发过程中可能会存在延迟，请耐心等待；</p>
                        <p>4.可以使用语音验证码；</p>
                        <p>5.您还可以联系客服热线400-0455-360寻求帮助。</p>
                    </div>
                </li>
                <li>
                    <p class="tit"><i class="icon-arrow-bottom iconfont"></i>如何赚取钱币？</p>
                    <div class="cont">
                        <p>打开钱庄理财App-资产-积分商城-右上角的规则，可以查看如何赚取钱币。</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tips">
            <p>没有您想要找的问题？</p>
            <p>可以拨打 “客服热线” 人工为您解决，或通过 “意见反馈” 反馈您的问题。</p>
        </div>
    </article>
</section>
<script src="../../../script/master/sea.js" id="seajsnode"></script>
<script>
    seajs.use('page/helpCenter');
</script>
</body>
</html>