<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>庆祝钱庄网获国资企业中商投控股</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pagemiddleconsult" class="page" >
    <article class="viewport">
        <div class="banner"><img src="../../../image/master/middleconsult/banner.jpg"> </div>
        <div class="content">
            <img src="../../../image/master/middleconsult/capacity.jpg">
            <p class="details">
                8月20日上午10点，中商投控股钱庄网签约发布会在杭州互联网金融大厦召开，钱庄网正式成为国资企业直接控股平台。双方通过资源整合，在优质资产的获取、发展模式的创新优化上必然更具优势。拥有国资背景后的钱庄网将进一步加强风控管理，严格遵守国家对互联网金融的各项监管政策，打造一支更加专业的互联网金融服务团队；以更高的标准和要求来规范公司治理，更好的为投资人服务。
            </p>
        </div>
        <div class="title">
            <h3 class="holding">控股方介绍</h3>
        </div>
        <div class="content packway">
            <img src="../../../image/master/middleconsult/map.jpg">
            <p class="details">
                中商投实业控股有限公司是大型国有企业集团。公司总部设在北京,下属全资、控股子公司40余家，主营业务涵盖先进制造、工程建设、贸易物流、投资等领域。国内业务主要分布在北京、上海、天津、广东、江苏、浙江、安徽、福建、湖南、湖北、四川、甘肃等地。公司管理团队视野开阔、经验丰富、产业整合能力强。公司以实业报国为己任，以价值投资为取向，以行业领先为目标，着力构建现代产业体系。
            </p>
            <a href="javascript:;" href-data="http://www.ccncc.com.cn/" class="ongo"> <img src="../../../image/master/middleconsult/gohome.jpg"></a>
        </div>
        <div class="title">
            <h3 class="holding">媒体报道</h3>
        </div>
        <div class="content packway">
            <ul class="media">
                <li><a href="javascript:;" href-data="http://m.zjol.com.cn/mzjol/details.html?newsid=021272435&from=groupmessage&isappinstalled=0"> <img src="../../../image/master/middleconsult/zjzx.jpg"></a></li>
                <li><a href="javascript:;" href-data="http://zj.sina.cn/news/2016-08-20/detail-ifxvcsrn8774079.d.html?from=wap"> <img src="../../../image/master/middleconsult/xlzj.jpg"></a></li>
                <li><a href="javascript:;" href-data="http://xw.qq.com/zj/20160822017394/ZJC2016082201739400"><img src="../../../image/master/middleconsult/txzj.jpg"></a></li>
                <li><a href="javascript:;" href-data="http://toutiao.com/i6321172652572541442/"><img src="../../../image/master/middleconsult/jrtt.jpg"></a></li>
                <li><a href="javascript:;" href-data="http://www.erongtu.com/info/view-index-id-21595.html"><img src="../../../image/master/middleconsult/rtw.jpg"></a></li>
                <li><a href="javascript:;" href-data="http://kjb.zjol.com.cn/html/2016-08/23/content_2558884.htm?div=0"> <img src="../../../image/master/middleconsult/kjsb.jpg"></a></li>
            </ul>
        </div>
        <div class="title">
            <h3 class="holding">现场回顾</h3>
        </div>
        <div class="content packway packheight">
            <ul class="scene slide-con" id="scene">
            </ul>
        </div>
        <div class="title">
            <h3 class="holding">客户心声</h3>
        </div>
        <div class="content packway packbg packbottom">
               <img src="../../../image/master/middleconsult/dialogue.jpg">
        </div>
    </article>
</section>
<a href="javascript:;" href-data="https://bbs.qian360.com/posts/list/0/2735.page#14320" id="pagemiddleconsultcomment"> <img src="../../../image/master/middleconsult/comment.png" ></a>
<section id="pageLoading"></section>
<script src="../../../script/master/sea.js" id="seajsnode"></script>
<script>
    seajs.use('page/middleconsult');
</script>
</body>
</html>