<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>个人信息</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageMyCenter" class="page" data-onpagefirstinto="myCenterInit"
         data-callback="myCenterInto" data-fallback="myCenterOut">

</section>
<section id="pageLoading"></section>
<script src="../../../script/master/sea.js" id="seajsnode"></script>
<script>
    seajs.use('page/myCenter');
</script>
</body>
</html>