<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>使用说明</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageRedPacketExplain" class="page">
    <article class="viewport">
        <h2 class="title">红包</h2>
        <div class="cont">
            <p>红包是钱庄网向平台用户提供的一种投资本金抵扣券，用户投资项目时，使用满足条件的红包可抵消部分应付金额。</p>
            <p><br>红包的使用规则：</p>
            <p>1. 红包分现金红包跟抵扣红包两种。</p>
            <p>2. 现金红包每次投资可使用的红包金额不可超过投资金额的一定比例(具体见红包上的使用条件)，单笔投资可使用多个。</p>
            <p>3. 抵扣红包在投资项目时，需满足指定的投资金额及理财期限(具体见红包上的使用条件)才能使用，单笔投资只可使用一个。</p>
            <p>4. 理财期限≤15天的投资项目，投资时不能使用任何红包(新手用户除外)。</p>
            <p>5. 现金红包与抵扣红包可一同使用。</p>
            <p>6. 红包不可与加息券一同使用。</p>
            <p>7. 红包均有有效期，请在有效期内使用。</p>
            <p>8. 红包在投资项目到期后将会伴随您的本金、收益一起回款至您的账户余额。</p>
        </div>
        <h2 class="title">加息券</h2>
        <div class="cont">
            <p>加息券是钱庄网向平台用户提供的一种投资返利券，用户投资项目时，使用满足条件的加息券，当投资项目到期后，将会根据所使用的加息券，获得额外的收益。</p>
            <p><br>加息券的使用规则：</p>
            <p>1. 加息券有最高加息本金与最高加息天数限制(具体见加息券上的说明，没说明则表示不限制)。单笔投资只可使用一个。</p>
            <p>2. 债权转让产品不可使用加息券。</p>
            <p>3. 若项目在投资期间发生提前还款，加息天数按实际投资天数算。</p>
            <p>4. 若项目在投资期间发生转让，转让成功后不再享有加息券收益。</p>
            <p>5. 加息券收益=加息年利率*加息本金*加息天数/365(加息本金按投资金额与最高加息本金取小计算，加息天数按实际投资天数与最高加息天数取小计算)。</p>
            <p>6. 若使用加息券所产生的收益不到0.01元，则不享有加息券收益。</p>
            <p>7. 加息券不可与红包一同使用。</p>
            <p>8. 加息券均有有效期，请在有效期内使用。</p>
            <p>9. 加息券所产生的收益在投资项目到期后将会伴随您的本金、收益一起回款至您的账户余额。</p>
        </div>
        <h2 class="title">如何获取红包与加息券</h2>
        <div class="cont">
            <p>1. 钱庄网会不定期给用户发放红包与加息券福利，大家可多多关注并参与平台活动。</p>
            <p>2. 有些活动提供专属的红包与加息券福利，大家可以去相关的活动页面领取。</p>
            <p>3. 邀请好友投资可获得高额红包，而且上不封顶，多邀多得。</p>
        </div>
        <div class="tips">
            如有疑问请致电钱庄网客服热线400-0455-360<br>
            最终解释权归杭州乾庄互联网金融服务有限公司所有
        </div>
    </article>
</section>
</body>
</html>