<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>安全保障</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageProEnsure" class="page" data-onpagefirstinto="proEnsureInit"
         data-callback="proEnsureInto" data-fallback="proEnsureOut">
    <article class="viewport">
        <ul>
            <li>
                <h3 class="tit">银行级专业团队把控</h3>
                <p class="cont">来自各大国有银行、知名互联网金融公司专业的风控团队严格把关，确保投资人利益</p>
                <i class="iconimg icon1"></i>
            </li>
            <li>
                <h3 class="tit">100%抵押质押保障</h3>
                <p class="cont">所有项目都有远超借款金额的抵押/质押物保障</p>
                <i class="iconimg icon2"></i>
            </li>
            <li>
                <h3 class="tit">资金账户专款专用</h3>
                <p class="cont">投资资金流采用同卡进出模式，彻底杜绝安全漏洞，从而100%保证投资资金账户安全</p>
                <i class="iconimg icon3"></i>
            </li>
            <li>
                <h3 class="tit">千万风险保障计划</h3>
                <p class="cont">哪怕0.000000001%的风险发生了，别怕！<br />千万风险保障金专款专用，只为投资人</p>
                <i class="iconimg icon4"></i>
            </li>
        </ul>
    </article>
</section>
</body>
</html>