<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>投资记录</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageProInvestRecord" class="page" data-onpagefirstinto="proInvestRecordInit"
         data-callback="proInvestRecordInto" data-fallback="proInvestRecordOut">
    <!--<article class="viewport">-->
        <!--<div class="tit">-->
            <!--<div class="column-left">投资人/时间</div>-->
            <!--<div class="column-right">金额(元)</div>-->
        <!--</div>-->
        <!--<div class="cont">-->
            <!--<ul class="ui-list-double">-->
                <!--<li>-->
                    <!--<div class="column-left">-->
                        <!--<div class="tits">159****4238</div>-->
                        <!--<div class="conts">2014-05-28 10:22</div>-->
                    <!--</div>-->
                    <!--<div class="column-right"><div class="tits">2000</div></div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="column-left">-->
                        <!--<div class="tits">159****4238</div>-->
                        <!--<div class="conts">2014-05-28 10:22</div>-->
                    <!--</div>-->
                    <!--<div class="column-right"><div class="tits">2000</div></div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</article>-->
</section>
</body>
</html>