<!doctype html>
<html>
<head>
	<link rel="import" href="../includes/hdMeta.html?__inline">
	<title>了解项目</title>
	<link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageProMoreinfoQbb" class="page out" data-title="钱宝宝介绍" data-onpagefirstinto="proMoreinfoQbbInit"
		 data-callback="proMoreinfoQbbInto" data-fallback="proMoreinfoQbbOut">
	<div class="box profit-img-box">
		<h3 class="tit">资金用途</h3>
		<div class="cont">
			<img src="../../../image/master/profit-img-qbb.png" width="100%" alt=""/>
		</div>
	</div>
	<div class="box">
		<h3 class="tit">产品描述</h3>
		<div class="cont">
			<p>钱宝宝是钱庄网推出的余额增值服务类产品，可获得年化5%-8%的浮动收益，募集资金主要用于各种银行类相关产品的投资。</p>
			<p>钱宝宝的出生让您的资金从此不再站岗，收益实时展现，安全又有保障，随存随取的方式真正实现了资金的灵活使用，优质贴心的理财服务从此开始。</p>
		</div>
	</div>
</section>
</body>
</html>