<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>了解项目</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageProMoreInfo" class="page" data-onpagefirstinto="proMoreInfoInit"
         data-callback="proMoreInfoInto" data-fallback="proMoreInfoOut">
    <!--<article class="viewport">-->
        <!--&lt;!&ndash; S 项目详情 &ndash;&gt;-->
        <!--<div class="item">-->
            <!--<div class="tit">项目详情</div>-->
            <!--<ul class="subitem">-->
                <!--<li>-->
                    <!--<h4 class="subtit">借款人信息</h4>-->
                    <!--<p id="jsProductDebtorInfo" class="subdes">-->
                <!--</li>-->
                <!--<li>-->
                    <!--<h4 class="subtit">审核资料<span class="info"> [捷融集团认证]</span></h4>-->
                    <!--<table class="identify_table">-->
                        <!--<tr>-->
                            <!--<th>审核项目</th>-->
                            <!--<th>状态</th>-->
                            <!--<th>通过日期</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>信用报告</td>-->
                            <!--<td><i class="icon icon-tick-solid"></i></td>-->
                            <!--<td>2014-08-19</td>-->
                        <!--</tr>-->
                        <!--<tr class="even">-->
                            <!--<td>身份认证</td>-->
                            <!--<td><i class="icon icon-tick-solid"></i></td>-->
                            <!--<td>2014-08-19</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>工作认证</td>-->
                            <!--<td><i class="icon icon-tick-solid"></i></td>-->
                            <!--<td>2014-08-19</td>-->
                        <!--</tr>-->
                        <!--<tr class="even">-->
                            <!--<td>还款能力认证</td>-->
                            <!--<td><i class="icon icon-tick-solid"></i></td>-->
                            <!--<td>2014-08-19</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<h4 class="subtit">项目描述</h4>-->
                    <!--<p id="jsProductContent" class="subdes">都比都不都对比都比都不都对比都比都不都对比都比都不都对比</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<h4 class="subtit">资金用途</h4>-->
                    <!--<p id="jsProductFundUsage" class="subdes no_text_indent">都比都不都对比都比都不都对比都比都不都对比</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<h4 class="subtit">还款来源</h4>-->
                    <!--<p id="jsProductRepaymentSource" class="subdes">都比都不都对比都比都不都对比都比都不都对比</p>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; E 项目详情 &ndash;&gt;-->
        <!--&lt;!&ndash; S 风险控制 &ndash;&gt;-->
        <!--<div class="item">-->
            <!--<div class="tit">风险控制</div>-->
            <!--<p id="jsProductRiskEvaluation" class="cont">您妮妮斤斤计较斤斤计较，积极急急脚脚 </p>-->
        <!--</div>-->
        <!--<div class="item info">-->
            <!--<div class="tit">相关资料</div>-->
            <!--<div id="jsBorrowUserInfo" class="info_img">-->
                <!--<h4>基本信息（<span>1</span>）</h4>-->
                <!--<ul id="jsFileListBorrowUserInfo">-->
                    <!--<li><a class="modal" href="javascript:;"><img src="../../image/moreinfo/chrysanthemum.jpg" alt=""></a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div id="jsBorrowMortgage" class="info_img">-->
                <!--<h4>抵押资料（<span>1</span>）</h4>-->
                <!--<ul id="jsFileListBorrowMortgage">-->
                    <!--<li><a class="modal" href="javascript:;"><img src="../../image/moreinfo/hydrangeas.jpg" alt=""></a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div id="jsBorrowVouch" class="info_img">-->
                <!--<h4>担保资料（<span>2</span>）</h4>-->
                <!--<ul id="jsFileListBorrowVouch">-->
                    <!--<li><a class="modal" href="javascript:;"><img src="../../image/moreinfo/jellyfish.jpg" alt=""></a></li>-->
                    <!--<li><a class="modal" href="javascript:;"><img src="../../image/moreinfo/koala.jpg" alt=""></a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div id="jsBorrowCompanyInfo" class="info_img">-->
                <!--<h4>经营信息（<span>4</span>）</h4>-->
                <!--<ul id="jsFileListBorrowCompanyInfo">-->
                    <!--<li><a class="modal" href="javascript:;"><img src="../../image/moreinfo/zszs.jpg" alt=""></a></li>-->
                    <!--<li><a class="modal" href="javascript:;"><img src="../../image/moreinfo/koala.jpg" alt=""></a></li>-->
                    <!--<li><a class="modal" href="javascript:;"><img src="../../image/moreinfo/koala.jpg" alt=""></a></li>-->
                    <!--<li><a class="modal" href="javascript:;"><img src="../../image/moreinfo/koala.jpg" alt=""></a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</article>-->
</section>
</body>
</html>