<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>提前还款说明</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageProRepaymentExplain" class="page" data-onpagefirstinto="proRepaymentExplainInit"
         data-callback="proRepaymentExplainInto" data-fallback="proRepaymentExplainOut">
    <!--<article class="viewport">-->
        <!--<div class="tit">-->
            <!--<p>本项目默认还款日：2015-05-13</p>-->
            <!--<p>支持提前还款,还款还有额外奖励</p>-->
            <!--<i class="arrow"></i>-->
        <!--</div>-->
        <!--<div class="cont">-->
            <!--<ol>-->
                <!--<li>-->
                    <!--<div class="tits">3月14日前还款（包含14日）</div>-->
                    <!--<div class="conts">奖励额外1天的投资收益</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="tits">5月14日前还款（包含14日）</div>-->
                    <!--<div class="conts">奖励1%年化收益</div>-->
                <!--</li>-->
            <!--</ol>-->
            <!--<div class="info">奖励在还款日发送到投资人的账户余额</div>-->
        <!--</div>-->
    <!--</article>-->
</section>
</body>
</html>