<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>我的红包</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageRedPacket" class="page">

    <article class="viewport">
        <header class="tab-header">
            <nav id="tabBtns" class="ui-tab-btns clearfix">
                <a class="ui-tab-btn left on" href="javascript:;">红包</a><a class="ui-tab-btn right" href="javascript:;">奖励</a>
            </nav>
        </header>
        <main id="tab-cont">
            <div class="cont tab-item active">
                <a  class='instructions' href="packet.html">红包使用说明</a>
                <div id="redPacketRecord" class="redPacket-list"></div>
            </div>
            <div class="cont tab-item">
                <div id="cashAwardRecord"></div>
            </div>
        </main>
    </article>
    <footer class="footer-bar"></footer>
</section>

<section id="pageLoading"></section>
<script src="../../../script/master/sea.js" id="seajsnode"></script>
<script>
    seajs.use('page/redPacket');
</script>
</body>
</html>