<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>拍摄标准</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section class="page">
    <article class="viewport">
        <div class="headbom">
              <div class="bom-cen">
                    <h3>上传要求</h3>
                    <ol>
                        <li>1. 请上传身份证原件彩色照片，确保文字、图<br>片、证件号码清晰可辨；</li>
                        <li>2. 照片不能进行软件处理，包括剪裁、涂改等；</li>
                        <li>3. 支持jpg、png格式，图片大小在100KB<br>~5MB。</li>
                    </ol>
                  <p class="bom-spon">身份证图片仅用来确认您的身份证信息，绝对<br>不会泄露给第三方。系统在上传图片时会自动<br>添加全图水印，并加密方式独立存储，确保信<br>息安全。</p>
                  <h3>身份证正面拍摄标准</h3>
                  <p class="affirm">确保文字、图片、证件号码清晰可识别。</p>
                  <div class="imgs"><img src="../../../image/master/idcard1.jpg" width="100%" alt=""/> </div>
                  <h3>身份证反面拍摄标准</h3>
                  <p class="affirm">身份证上的发证机关和有效期必须清晰可识别。</p>
                  <div class="imgs"><img src="../../../image/master/idcard2.jpg" width="100%" alt=""/> </div>
                  <h3>本人与身份证正面合照拍摄标准</h3>
                  <p class="affirm">人脸和身份证必须清晰可识别。</p>
                  <div class="imgs bottom"><img src="../../../image/master/idcard3.jpg" width="100%" alt=""/> </div>
              </div>
        </div>
    </article>
</section>
</body>
</html>