<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>支持银行及限额</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section class="page">
    <article class="viewport">
        <div class="supportbank" id="supportbank">
            <div class="title"><div class="supcen"><span class="title-bank">支持银行及限额（仅支持储蓄卡）</span><br><span class="title-money">具体金额以实际限额为准</span></div></div>
            <!--<ul>-->
                <!--<li>-->
                    <!--<div class="supcen">-->
                        <!--<div class="supleft"><div class="imgs"><img src="../../../image/master/yhk.jpg" alt=""/></div><p class="supleft-p">邮政储蓄银行</p></div>-->
                        <!--<div class="supright">单笔<span>0.2</span>万，日累计<em>100</em>万</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </article>
</section>
<script src="../../../script/master/sea.js" id="seajsnode"></script>
<script>
    seajs.use(['page/supportbank'])
</script>
</body>
</html>