<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>转让说明</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageTransferHelp" class="page">
    <article class="viewport">
        <ul class="main">
        <li>
            <p class="tit"><i class="icon-arrow-bottom iconfont"></i>一、什么是债权转让？</p>
            <div class="cont">
                <p>债权转让是指不改变合同内容的合同转让，债权人通过与第三人订立合同将债权的全部或部分转移于第三人，第三人取代原债权人成为原合同关系的新的债权人。</p>
                <p>平台债权转让功能是指投资人申购产品未到合同规定回款期限，因个人原因急需资金，而将手中所持有产品剩余债权进行转让。</p>
            </div>
        </li>
        <li>
            <p class="tit"><i class="icon-arrow-bottom iconfont"></i>二、债权转让条件？</p>
            <div class="cont">
                <p>支持债权转让的项目必须满足以下条件：</p>
                <p>1、转让的项目持有时间需超过15天；</p>
                <p>2、到期还本付息的转让项目距离回款时间需超过15天，按月付息的转让项目距离下一个付息日时间需超过15天；</p>
                <p>3、用户投资中的本金需大于等于30万；</p>
                <p>4、单笔转让金额需在5万元及以上；</p>
            </div>
        </li>
        <li>
            <p class="tit"><i class="icon-arrow-bottom iconfont"></i>三、债权转让手续费是多少？</p>
            <div class="cont">
                <p>平台将收取每笔转让金额0.3%的手续费，手续费在转让成功以后直接从本金里扣除；</p>
            </div>
        </li>
        <li>
            <p class="tit"><i class="icon-arrow-bottom iconfont"></i>四、债权转让利率如何规定？</p>
            <div class="cont">
                <p>转让利率可在原债权基础上自主设定上下浮动利率（最多小数点后两位）,但是所设定的年化收益不能低于7%或高于15%；转让成功之后，浮动利率在所获得的利息中扣除，利息不够直接从本金中扣；</p>
            </div>
        </li>
        <li>
            <p class="tit"><i class="icon-arrow-bottom iconfont"></i>五、转让成功原债权人本息如何计算？</p>
            <div class="cont">
                <p>项目转让成功后，扣除手续费（如浮动利率高于所得利息还将扣除部分浮动利率）后剩余本金会回到账户余额中，按申购产品到转让成功日期计息，所得利息（扣除浮动利率后剩余）将会在该项目最终回款日回到账户余额。该项目最终还款的本息和平台的奖励等属于新的债权人，与原债权人无关；</p>
            </div>
        </li>
        <li>
            <p class="tit"><i class="icon-arrow-bottom iconfont"></i>六、转让流程是什么？</p>
            <div class="cont">
                <p>用户发起转让申请→平台审核→线上募集，满标结束→资金转入申请人余额</p>
            </div>
        </li>
        <li>
            <p class="tit"><i class="icon-arrow-bottom iconfont"></i>七、转让注意事项</p>
            <div class="cont">
                <p>1、用户一旦申请转让，无法撤销；</p>
                <p>2、转让中的项目，如该项目提前还款，转让会在还款前一天自动截标；已转让部分按照正常转让核算本息、手续费。</p>
                <p>3、用户申请转让时系统会自动生成一份债权转让协议；</p>
                <p>4、用户发起的转让项目7天内未满标，该项目自动截标，已转让部分按照正常转让核算本息、手续费。</p>
            </div>
        </li>
    </ul>
    </article>
</section>
<script src="../../../script/master/sea.js" id="seajsnode"></script>
<script>
    seajs.use('page/transferHelp');
</script>
</body>
</html>