<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>钱庄理财送福利</title>
    <link rel="stylesheet" href="../../../style/promotion/chemayi/style.styl?__inline">
    <script src="../../../../libs/qianMobileModule/src/module/flexible.js?__inline"></script><!--ignore-->
</head>
<body>
<section id="pageHome" class="page">
    <article class="box-wrap">
        <div class="wrap">
            <div class="banner">
                <img src="../../../image/promotion/chemayi/banner.png">
            </div>
            <div class="top-item">
                <div class="btns-box">
                    <a href="javascript:;" class="btn btn1"></a>
                    <a href="javascript:;" class="btn btn2"></a>
                    <a href="javascript:;" class="btn btn3"></a>
                </div>
            </div>
            <div class="explain">
                <h2 class="tit">活动介绍</h2>
                <p>1、注册钱庄网即可领取50元优惠券；</p>
                <p>2、完成实名认证即可获得108元理财红包；</p>
                <p>3、完成首次投资定期产品即可获得价值149元的“生物污染保”；</p>
                <p>4、50元优惠券和生物污染保将在3个工作日之内发放至车蚂蚁账户当中；</p>
                <p>5、108元红包将即时发放至用户的钱庄网账户，可用于投资抵现使用。</p>
                <h2 class="tit">钱庄网介绍</h2>
                <p>钱庄网是一家创新的互联网金融服务理财APP，旨在为每一位有投资需求的用户提供稳健、短期限的投资理财项目，让中国人轻松理财！1元起购，交易免手续费。截止目前累计 <span class="highlight">交易额突破20亿元，累计用户数近100万。</span></p>
                <div class="meta">
                    <img src="../../../image/promotion/chemayi/meta.png">
                </div>
            </div>
            <div class="bottom-bar"></div>
        </div>
    </article>
</section>
<section id="pageLoading"></section>
</body>
<script src="/libs/requirejs/require.js"></script>
<script>
    require(['page/index']);
</script>
</html>