<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>百万流量疯狂送  每人最高可抢2G</title>
    <link rel="stylesheet" href="../../../style/promotion/baiwanliuliang/style.styl?__inline">
    <script src="../../../../libs/qianMobileModule/src/module/flexible.js?__inline"></script><!--ignore-->
</head>
<body>
<section id="pageHome" class="page">
    <article class="box-wrap">
        <div class="banner">
            <img src="../../../image/promotion/baiwanliuliang/banner.jpg">
        </div>
        <h2 class="title"><span>完成注册送红包</span></h2>
        <div class="packet">
            <h3 class="money">108元红包</h3>
            <a class="button" href="javascript:;">立即领取</a>
        </div>
        <div class="center">
            <h2 class="title firstinvest"><span>首次投资送流量</span></h2>
            <div class="flow"><div class="flow-left-gs">通用500M</div><div class="flow-right-gs">首次投资额≥100元</div></div>
            <div class="flow"><div class="flow-left-gs flow-line"><p>移动/电信1G</p><p>联通1000M</p></div><div class="flow-right-gs">首次投资额≥500元</div></div>
            <div class="flow"><div class="flow-left-gs flow-line"><p>移动/电信2G</p><p>联通2000M</p></div><div class="flow-right-gs">首次投资额≥1000元</div></div>
            <h2 class="title titlein"></h2>
            <ul class="adva">
                <li>
                    <div class="advantage"><img src="../../../image/promotion/baiwanliuliang/cnc.png"></div>
                    <p class="advantage-title">国资背景<br>中商投控股</p>
                </li>
                <li>
                    <div class="advantage"><img src="../../../image/promotion/baiwanliuliang/money.png"></div>
                    <p class="advantage-title">账户资金<br>银行存管</p>
                </li>
                <li>
                    <div class="advantage"><img src="../../../image/promotion/baiwanliuliang/toyear.png"></div>
                    <p class="advantage-title">稳健运营2周年</p>
                </li>
                <li>
                    <div class="advantage"><img src="../../../image/promotion/baiwanliuliang/Profit.png"></div>
                    <p class="advantage-title">7天15%年化收益</p>
                </li>
            </ul>
            <h2 class="title titlein titleos"></h2>
            <h2 class="rule">活动规则</h2>
            <ol>
                <li>1.该活动仅限未注册过钱庄理财的新用户参加；</li>
                <li>2.参与该活动必须通过本活动页面注册才能领取奖品；</li>
                <li>3.用户通过本活动页面完成注册之后，下载APP完成投资；</li>
                <li>4.流量将在您完成投资之后的3个工作日之内，发放至您的注册手机号码当中；</li>
                <li>5.移动用户月末3天无法进行充值，我们会在次月完成充值；</li>
                <li>6.月末参与活动的用户，如不想当月充值，可联系我们客服申请次月发放流量，客服QQ 4000455360。</li>
                <li>7.红包会即时送发放至用户的钱庄理财账户，可用于投资抵现使用；</li>
                <li>8.本次活动最终解释权归钱庄理财所有，钱庄理财有权实时调整本活动规则并及时更新活动页面内容。</li>
            </ol>
        </div>

    </article>
</section>
<section id="pageLoading"></section>
<script src="/libs/requirejs/require.js"></script>
<script>
    require(['page/index']);
</script>
</body>
</html>