<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>新手专享三重礼</title>
    <link rel="stylesheet" href="../../../style/promotion/sjgj/style.styl?__inline">
    <script src="../../../../libs/qianMobileModule/src/module/flexible.js?__inline"></script><!--ignore-->
</head>
<body>
<section id="pageHome" class="page">
    <main class="viewport">
        <div class="header-con">
            <h1 class="js_hide">新手专享三重礼</h1>
            <p class="info">18元红包+500M流量+红酒</p>
        </div>
        <div class="gift-con">
            <ul>
                <li>
                    <h2 class="tit">一重礼</h2>
                    <div class="cont">注册并实名即送8元红包+50~70M流量</div>
                </li>
                <li>
                    <h2 class="tit">二重礼</h2>
                    <div class="cont">7日内投资即送10元红包+500M流量</div>
                </li>
                <li>
                    <h2 class="tit">三重礼</h2>
                    <div class="cont">首笔投资满1000元即送干红葡萄酒1瓶</div>
                </li>
            </ul>
        </div>
        <div class="operation-con">
            <a id="registerBtn" href="javascript:;">立即注册</a>
        </div>
        <div class="rule-con">
            <div class="tit"><h2>活动规则</h2></div>
            <div class="cont">
                <ol>
                    <li>1、红包将放于用户的钱庄理财账户中，可用于投资抵现使用；</li>
                    <li>2、获得的流量将自动充值至用户的注册手机号码当中，移动用户为70M流量，联通电信用户为50M流量；500M流量全网都可享用；</li>
                    <li>3、获得红酒的用户，前往钱庄网账户“我—个人信息—收货地址”添加收货地址，我们将在一个月之内寄出。如有疑问，联系钱庄客服QQ4000455360；</li>
                    <li>4、“钱宝宝”活期产品不参与该活动；</li>
                    <li>5、本活动最终解释权归杭州乾庄互联网金融服务有限公司所有。</li>
                </ol>
            </div>
        </div>
    </main>
</section>
<section id="pageLoading"></section>
<script src="/libs/requirejs/require.js"></script>
<script>
    require(['page/index']);
</script>
</body>
</html>