<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>钱庄理财送福利</title>
    <link rel="stylesheet" href="../../../style/promotion/liuliangbao/style.styl?__inline">
    <script src="../../../../libs/qianMobileModule/src/module/flexible.js?__inline"></script><!--ignore-->
</head>
<body>
<section id="pageHome" class="page">
    <main class="viewport">
        <article class="pageold">
            <div class="head">
                <img src="../../../image/promotion/liuliangbao/banner.jpg">
            </div>
            <div class="content">
                <div class="frame">
                    <img src="../../../image/promotion/liuliangbao/title.png" class="title-img">
                    <ul>
                        <li>30倍活期存款收益 </li>
                        <li>100元超低门槛</li>
                        <li>第三方机构本息担保</li>
                        <li>资金灵活周转</li>
                    </ul>
                </div>
                <h2><img src="../../../image/promotion/liuliangbao/sign.png"> <span>注册就送牛币+红包</span></h2>
                <div class="frame frameone">
                    <p>完成注册，送<span>10牛币</span></p>
                    <p>完成实名认证，送<span>10牛币+8元红包</span></p>
                </div>
                <h2><img src="../../../image/promotion/liuliangbao/sign.png"> <span>投资再送800牛币+10元红包+红酒</span></h2>
                <div class="frame frametwo">
                    <p>首次投资100元及以上，送<span>100牛币+10元红包</span></p>
                    <p>首次投资1000元及以上，送<span>200牛币+10元红包</span></p>
                    <p>首次投资3000元及以上，送<span>400牛币+10元红包</span></p>
                    <p>首次投资10000元及以上，送<span>800牛币+10元红包+红酒1瓶</span></p>
                </div>
                <a class="register-btn" id="registerBtn" href="javascript:;">立即注册</a>
                <div class="activity frame">
                    <h2><span>活动规则</span></h2>
                    <p>1、该活动仅限流量宝平台用户参与；</p>
                    <p>2、“钱宝宝”活期产品不参与此次活动，首次投资需为定期产品，否则无法获得相应牛币；</p>
                    <p>3、获得的牛币将在3个工作日之内发放；</p>
                    <p>4、获得红酒的用户，前往钱庄网账户“我—个人信息—收货地址”添加收货地址，我们将在一个月之内寄出。如有疑问，联系钱庄客服QQ4000455360；</p>
                    <p>5、本活动最终解释权归杭州乾庄互联网金融服务有限公司所有。</p>
                </div>
            </div>
        </article>
    </main>
</section>
<section id="pageLoading"></section>
</body>
<script src="/libs/requirejs/require.js"></script>
<script>
    require(['page/index']);
</script>
</html>