<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>我的订单</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageMyOrder" class="page">
    <div id="goodsList"></div>
    <footer class="footer b_t_0">
        <p>积分商城活动由钱庄网提供</p>

        <p>最终解释权归杭州乾庄互联网金融服务有限公司所有</p>
    </footer>
</section>
<section id="pageLoading"></section>
<script src="/libs/requirejs/require.js"></script>
<script>
    require(['page/myOrder']);
</script>
</body>
</html>