<!doctype html>
<html>
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>签到</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<section id="pageGoodsList" class="page">
    <main class="viewport">
        <div id="sign">

        </div>
        <div id="signlist">

        </div>
        <!--<footer class="footer">-->
            <!--<p>积分商城活动由钱庄网提供</p>-->

            <!--<p>最终解释权归杭州乾庄互联网金融服务有限公司所有</p>-->
        <!--</footer>-->
    </main>
</section>

<script src="/libs/requirejs/require.js"></script>
<script>
    require(['page/sign']);
</script>
</body>
</html>