<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="import" href="../includes/hdMeta.html?__inline">
    <title>签到说明</title>
    <link rel="import" href="../includes/hdStyle.html?__inline">
</head>
<body>
<div class="poker">
    <div class="box-cen">
        <p>第1天签到 获得2钱币</p>
        <p>连续2天签到 获得3钱币</p>
        <p>连续3天签到 获得4钱币</p>
        <p>连续4天签到 获得5钱币</p>
        <p>连续5天签到 获得6钱币</p>
        <p>连续6天签到 获得7钱币</p>
        <p>连续7天签到 获得8钱币</p>
        <p>连续8天签到 获得8钱币</p>
        <p>连续n天签到 获得8钱币</p>
        <p>......</p>
        <p>如果中断了则重新从第1天开始。</p>
    </div>
</div>
</body>
</html>