html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
textarea,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
input[type="radio"] {
  -webkit-appearance: radio;
}
textarea {
  outline: none;
  resize: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]),
[hidden] {
  display: none;
}
a {
  cursor: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.js_hide {
  display: none !important;
}
a {
  display: block;
  color: inherit;
}
body {
  font-family: Arial, Helvetica, simsun, sans-serif;
  background-color: #ff3e2f;
  font-size: 0.24rem;
}
.viewport {
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
.page,
.page > .viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.page::-webkit-scrollbar,
.page > .viewport::-webkit-scrollbar {
  display: none;
}
#pageLoading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff url("../../../image/promotion/common/loading.gif") no-repeat center center;
  background-size: 1.36rem auto;
}
em {
  font-style: normal;
}
.box-wrap {
  border: solid transparent;
  border-width: 0.3rem 0.1rem 0.2rem 0.1rem;
}
.wrap {
  position: relative;
  box-sizing: border-box;
  border: 0.1rem solid #2d110a;
  box-shadow: inset 0 0.15rem 0 0.15rem #da8601;
}
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
.banner img {
  width: 100%;
}
.top-item {
  position: relative;
  margin: 0.3rem 0.14rem 0;
  padding: 3.22rem 0 1.08rem;
  background: #ffc632 url("../../../image/promotion/chemayi/bg.jpg") no-repeat center bottom;
  background-size: 5.68rem;
  border-bottom: 0.06rem solid #040000;
}
.top-item:after {
  content: '';
  position: absolute;
  z-index: 3;
  bottom: -0.18rem;
  right: 0.38rem;
  width: 2.31rem;
  height: 0.77rem;
  background: url("../../../image/promotion/chemayi/decorate.png") no-repeat 0 0;
  background-size: 100%;
}
.btns-box .btn {
  display: block;
  width: 5.25rem;
  height: 1.37rem;
  margin: 0 auto;
}
.btns-box .btn ~ .btn {
  margin-top: 0.28rem;
}
.btns-box .btn1 {
  background: #ffc632 url("../../../image/promotion/chemayi/btn1.png") no-repeat 0 0;
  background-size: 5.25rem;
}
.btns-box .btn2 {
  background: #ffc632 url("../../../image/promotion/chemayi/btn2.png") no-repeat 0 0;
  background-size: 5.25rem;
}
.btns-box .btn3 {
  background: #ffc632 url("../../../image/promotion/chemayi/btn3.png") no-repeat 0 0;
  background-size: 5.25rem;
}
.explain {
  position: relative;
  background-color: #d9a188;
  margin: 0 0.14rem;
  padding: 0.3rem;
  color: #763f26;
}
.explain:before {
  content: '';
  position: absolute;
  top: 0.19rem;
  right: 0.19rem;
  width: 5.17rem;
  height: 0.4rem;
  background: url("../../../image/promotion/chemayi/bg-line.png") no-repeat 0 0;
  background-size: 100%;
}
.explain .tit {
  margin: 0.1rem 0;
  font-size: 0.24rem;
  font-weight: bold;
  line-height: 0.4rem;
}
.explain p {
  font-size: 0.22rem;
  line-height: 0.3rem;
}
.explain .highlight {
  font-weight: bold;
  color: #bc2110;
}
.explain .meta img {
  width: 100%;
}
.bottom-bar {
  width: 100%;
  height: 0.29rem;
  background: #ffc632 url("../../../image/promotion/chemayi/bottom.jpg") no-repeat 0 0;
  background-size: 100%;
}
